/* CSS RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BASE STYLES */
:root{
    --accent-color: #11a2f3;
    --accent-color-dark:#0d8fda;
}

html{
    overflow-x: hidden;
}
/* KEYFRAMES */
@keyframes fade-in{
    0%{
        opacity: 0;
        transform: translateY(15px);
    }
    100%{
        opacity: 100%;
        transform: translateY(0);
    }
}

/*BASE STYLES*/
body{
    font-family: 'Poppins', sans-serif;
    color:#292c33 ;
    background-color: #eeeff3;
    overflow-x: hidden;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
input, 
button{
    border: none;
    font: inherit;
}






.bg{
    position: absolute;
    z-index: -1;
}
.header{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
    animation: fade-in 0.4s;
}
.logo{
    color: rgba(255, 255, 255, 0.7);
}
.nav{

}
.links{
    display: flex;
    column-gap: 45px;

}
.link-item{

}
.link{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.2s;

}
.link:hover{
    color: rgba(255, 255, 255, 1);
}
.link--btn{
    color: #fff;
    background-color: var(--accent-color);
    transition: all 0.2s;
    padding: 10px 18px;
    border-radius: 3px;
}
.link--btn:hover{
    background-color: var(--accent-color-dark);
}

/* MAIN */
.main{
    max-width:1150px;
    background-color: white;
    
    margin: 0 auto;
    border-radius:5px ;
    margin-bottom: 35px;
    box-shadow: 0 4px 44px rgba(0, 0, 0, 0.07);
    animation: fade-in 0.4s 0.1s backwards;
    overflow: hidden;

}
/*INTRO SECTION*/
.intro{
    display: flex;
    background-color: #000;

}
.search{
    padding-bottom: 15px;
    background-color: #f3f5fa;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.first-heading{
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 30px;
    line-height: 1.1;
    max-width: 383px;
}
.emphasis{
    font-style: italic;
    font-weight: 700;
    text-decoration: underline;
}
.form{
    width: 383px;
    position: relative;

}
.input{
    height: 61px;
    width: 100%;
    padding-left: 53px;
    font-size: 17px;
    border-radius: 2px;
    margin-bottom: 12px;


}
.input-icon{
    font-size: 17px;
    color:#adb4c2 ;
    position: absolute;
}
.input-icon:nth-of-type(1){
    top:22px;
    left:22px;

}
.input-icon:nth-of-type(2){
    top: 95px;
    left:22px ;
    
}

.btn{
    width: 100%;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    border-radius: 2px;
    background: var(--accent-color);
    height: 61px;
    transition: all 0.2s;
}
.btn:hover{
    cursor: pointer;
    background: var(--accent-color-dark);
}
.photos{
    display: flex;
}
.photo-1{
    display: block;

}
.photo-2{
display: block;
}

/*CREDENTIALS */

.credentials{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 35px 0;
    border-bottom: 1px solid #f2f3f8 ;

}
.seen-text{
    font-size: 20px;
    font-weight: 500;
    color: #ccd0d9;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.credential{

}
/*HOW IT WORKS*/

.how{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px 0 85px;

}
.second-heating{
    font-size: 32px;
    color: #292c33;
    text-transform: capitalize;
    font-weight: 500;


}
.steps{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding:80px 0 ;

}
.step{
    max-width: 215px;
    text-align: center;

}
.main .how .steps .step .step-icon{
    height: 65px;
    width: 65px;
    background: black;
    border-radius: 50%;
    color: #fff;
    line-height: 65px;
    margin-bottom: 21px;
    font-size: 22px;
    
}
.text{

}
.